/*----------*/
/*index page*/
/*----------*/
.filterHeader {
  display: inline;
}
.filterAddBtn {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-bottom: 14px;
}
.gameBox {
  padding: 0px 15px 0px 15px;
  border-bottom: solid 3px #0ff;
  border-radius: 3px;
}
.mt-w {
  border-bottom: solid 3px #0f0;
  border-radius: 3px;
}
.mt-l {
  border-bottom: solid 3px #f00;
  border-radius: 3px;
}
.gameBoxHeader {
  color: white;
}
.gamePlayDate {
  float: left;
  position: absolute;
  font-size: 12px;
  left: 3px;
  top: -5px;
}
.gameTeam {
  margin: 20px 0 15px;
  margin: 2rem 0 1.5rem;
  font-size: 30px;
}


.gamePBClasses {
  display: inline-grid;
  width: 60px;
  height: 60px;
}
.gamePBChamps {
  width: 60px;
}
.gamePlayerChamps {
  width: 20px;
}
.c-Tank {
  background-color: blue;
}
.c-Support {
  background-color: lime;
}
.c-Flank {
  background-color: purple;
}
.c-Damage {
  background-color: red;
}
.c-Default {
  background-color: grey;
}
.h-win {
  background-color: #259d58;
}
.h-loss {
  background-color: #b82020;
}
.h-tie {
  background-color: #03a9f4;
}
.draftHeader {
  color: white;
  font-size: 14px;
  width: 100%;
  padding: 0px 5px 0px 5px;
}
.nav.nav-tabs li a {
  padding: 2px 2px;
  padding: .2rem .2rem;
}
.matchTable {
  text-align: center;
}
.matchTable h2 {
  margin: 0px;
}
.matchTable .no-p td{
  padding: 0!important;
}
.table tr:hover {
  background-color: #ffffff;
}
.winner {
  font-weight: 600;
}

/*----------*/
/*input page*/
/*----------*/
@media (max-width: 426px) {
  .banBox {
    width: 50%;
  }
}
.stupidRow {
  padding: 0px 15px 0px 15px;
}
.homeBanBox {
  padding: 0px;
  border: solid red 1px;
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
}
.awayBanBox {
  padding: 0px;
  background-color: rgba(0, 0, 255, 0.3);
  border: solid blue 1px;
  cursor: pointer;
}
/*
@media (min-width: 426px) {
  .fr {
    float: right!important;
  }
}*/
.homeDraftBox {
  padding: 0px;
  height: 100px;
  border: solid red 1px;
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
}
.awayDraftBox {
  padding: 0px;
  height: 100px;
  background-color: rgba(0, 0, 255, 0.3);
  border: solid blue 1px;
  cursor: pointer;
}
.pick {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
.nPick {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  position: absolute;
}
.nPicki {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  right: 16px;
}
.selectChampion {
  cursor: pointer;
}
.used {
  opacity: 0.4;
  cursor: default;
}
.homeDraftBox .form-group::before {
  content: "";
  width: 20px;
  height: 100%;
  display: block;
  background: inherit;
  position: absolute;
  left: -20px;
  top: 0;
  -webkit-clip-path: polygon(101% -1%, -70% 100%, 101% 100%);
  clip-path: polygon(101% -1%, -70% 100%, 101% 100%);
}
.homeDraftBox .form-group {
  position: relative;
  float: right;
  width: 50%;
  top: 60px;
  margin: 0 0 0;
  padding-bottom: 0px;
  background-color: rgba(255,255,255,0.6);
}
.homeDraftBox .form-group .form-control {
  margin: 0px;
}
.homeDraftBox .bootstrap-select>.dropdown-toggle.bs-placeholder {
  color: black;
}
.homeDraftBox .form-control, .homeDraftBox .form-group .form-control {
  background-image: none;
}

.awayDraftBox .form-group::after {
  content: "";
  width: 20px;
  height: 100%;
  display: block;
  background: inherit;
  position: absolute;
  right: -20px;
  top: 0;
  -webkit-clip-path: polygon(0% -1%, 0% 100%, 170% 100%);
  clip-path: polygon(0% -1%, 0% 100%, 170% 100%);
}
.awayDraftBox .form-group {
  position: relative;
  float: left;
  width: 50%;
  top: 60px;
  margin: 0 0 0;
  padding-bottom: 0px;
  background-color: rgba(255,255,255,0.6);
}
.awayDraftBox .form-group .form-control {
  margin: 0px;
}
.awayDraftBox .bootstrap-select>.dropdown-toggle.bs-placeholder {
  color: black;
}
.awayDraftBox .form-control, .awayDraftBox .form-group .form-control {
  background-image: none;
}