.filterHeader {
  display: inline;
}
.filterAddBtn {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-bottom: 14px;
}
.gameBox {
  padding: 0px 15px 0px 15px;
  border-bottom: solid 3px #0ff;
  border-radius: 3px;
}
.mt-w {
  border-bottom: solid 3px #0f0;
  border-radius: 3px;
}
.mt-l {
  border-bottom: solid 3px #f00;
  border-radius: 3px;
}
.gameBoxHeader {
  color: white;
}
.gamePlayDate {
  float: left;
  position: absolute;
  font-size: 12px;
  left: 3px;
  top: -5px;
}
.gameTeam {
  margin: 20px 0 15px;
  margin: 2rem 0 1.5rem;
  font-size: 30px;
}
.gamePBClasses {
  width: 40px;
  height: 40px;
}
.gamePBChamps {
  width: 40px;
}
.c-Tank {
  background-color: blue;
}
.c-Support {
  background-color: lime;
}
.c-Flank {
  background-color: purple;
}
.c-Damage {
  background-color: red;
}
.gamePickTag {
  color: black;
  background-color: lime;
  border-radius: 4px;
}
.gameBanTag {
  color: black;
  background-color: red;
  border-radius: 4px;
}

/*input page*/
@media (max-width: 426px) {
  .banBox {
    width: 50%;
  }
}
.stupidRow {
  padding: 0px 15px 0px 15px;
}
.homeBanBox {
  padding: 0px;
  border: solid red 1px;
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
}
.awayBanBox {
  padding: 0px;
  background-color: rgba(0, 0, 255, 0.3);
  border: solid blue 1px;
  cursor: pointer;
}
/*
@media (min-width: 426px) {
  .fr {
    float: right!important;
  }
}*/
.homeDraftBox {
  padding: 0px;
  height: 100px;
  border: solid red 1px;
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
}
.awayDraftBox {
  padding: 0px;
  height: 100px;
  background-color: rgba(0, 0, 255, 0.3);
  border: solid blue 1px;
  cursor: pointer;
}
.pick {
  height: 100px;
}
.nPick {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
.nPicki {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  float: right;
}
.selectChampion {
  cursor: pointer;
}
.used {
  opacity: 0.4;
}